<div>
  @each(content in contents)
  <div class="mb-3">
    <h2 class="text-lg">{{ content.title }}</h2>
    <a
      href="{{content.type}}s/{{content.id}}"
      class="text-sm text-blue-500 no-underline hover:underline" 
    >Edit</a>
    <a
      href="{{content.type}}s/{{content.id}}"
      class="text-sm text-blue-500 no-underline hover:underline ml-2" 
    >Delete</a>
  </div>
  @endeach
</div>