@layout('layouts/master')
@set('title', content.title)

@section('main')
<h1>{{ content.title }}</h1>
@if(content.description)
<p>
  {{ content.description }}
</p>
@endif
<div>
  {{{ contentBody }}}
</div>
@if(content.type === 'post' && content.tagsArray.length)
<p>
  @each(tag in content.tagsArray)
    <a href="/blog?tag={{tag}}">#{{tag}}</a>
  @endeach
</p>
@endif
@endsection