@layout('layouts/master')
@set('title', '500 Server Error!')

@section('main')
<blockquote>
  <h1>Ooops, something went terribly wrong!</h1>
  <a href="javascript:history.go(0)">Reload this page</a>
</blockquote>
@endsection
