<header>
  <a href="/~admin">
    <h2>{{siteConfigs.title}} admin</h2>
  </a>

  <navbar>
    <a href="/">Home</a>
    <span>/</span>
    <a href="/~admin/contents">Contents</a>
    <span>/</span>
    <a href="/~admin/configs">Configs</a>
    <span>/</span>
    <a href="/~logout">Logout</a>
  </navbar>
</header>
