<header>
  <navbar>
    <a href="/" class="text-blue-500 no-underline hover:underline">Home</a>
    <a href="/~admin/contents" class="text-blue-500 no-underline hover:underline ml-2">Contents</a>
    <a href="/~admin/configs" class="text-blue-500 no-underline hover:underline ml-2">Configs</a>
    <span class="ml-2">|</span>
    <a href="/~logout" class="text-blue-500 no-underline hover:underline ml-2">Logout</a>
  </navbar>
</header>
