<header>
  <strong>{{siteConfigs.title}} admin</strong>
</header>
<nav>
  <a href="/">Home</a>
  <span>/</span>
  <a href="/~admin/contents">Contents</a>
  <span>/</span>
  <a href="/~admin/configs">Configs</a>
  <span>/</span>
  <a href="/~logout">Logout</a>
</nav>