<footer>
  &copy; {{ new Date().getFullYear() }} <a href="/">{{siteConfigs.title}}</a>. {{ i18n.__('poweredBy') }} <a href="https://github.com/nkhdo/simple-blog" target="_blank" rel="noopener">simple-blog</a>.
</footer>