<header>
  <strong>{{siteConfigs.title}}</strong>
</header>

<nav>
  @each((item, index) in (siteConfigs.menuItems || []))
    @if(index > 0)
      <span>/</span>
    @endif
    <a href="{{item.path}}">{{item.title}}</a>
  @endeach
  @if(auth.isAuthenticated)
    <span>/</span>
    <a href="/~admin">Admin</a>
    <span>/</span>
    <a href="/~logout">Logout</a>
  @endif
</nav>
