<header>
  <a href="/">
    <h2>Simple Blog</h2>
  </a>

  <navbar>
    <a href="/">Home</a>
    <span>/</span>
    <a href="/blog">Blog</a>
    @if(auth.isAuthenticated)
    <span>|</span>
    <a href="/~admin">Admin</a>
    <span>/</span>
    <a href="/~logout">Logout</a>
    @endif
  </navbar>
</header>
