@media print {
  footer, header {
    display: none !important;
  }
}
ul, ol {
  padding-inline-start: 20px;
}
h2 a, h3 a {
  display: none;
  float:left;
} 
h2:hover a {
  display:inline;
  margin-left:-20px;
  padding-right:4px
}
h3:hover a {
  display:inline;
  margin-left:-16px;
  padding-right:4px
}
.emoji {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.2em;
}