@media print {
  .no-print {
    display: none !important;
  }
}
ul, ol {
  padding-inline-start: 20px;
}
h2 .anchor, h3 .anchor {
  display: none;
  float:left;
  padding-right:4px
} 
h2:hover .anchor {
  display:inline;
  margin-left:-20px;
}
h3:hover .anchor {
  display:inline;
  margin-left:-16px;
}
.emoji {
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: 0.2em;
}