<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || 'Blog Admin' }}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    axios.defaults.headers.common['X-Csrf-Token'] = '{{ csrfToken }}'
  </script>
  @!section('head')
</head>
<body>
  @include('partials/admin_header')
  <main>
    @!section('main')
  </main>
</body>
</html>
