<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || 'Blog Admin' }}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="stylesheet" href="/dist/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.8/dist/jsoneditor.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.1.8/dist/jsoneditor.min.js"></script>
</head>
<body>
  @include('partials/admin_header')
  <main>
    @!section('main')
  </main>
</body>
</html>
