<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description || siteConfigs.description }}"/>
  <title>{{ title ? `${title} | ${siteConfigs.title}` : siteConfigs.title }}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10.5.0/styles/atom-one-light.min.css">
</head>
<body>
  @include('partials/header')
  <main>
    @!section('main')
  </main>
  @include('partials/footer')
</body>
</html>
