<!DOCTYPE html>
<html lang="{{ siteConfigs.locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description || siteConfigs.description }}"/>
  <meta name="keywords" content="{{ keywords || siteConfigs.keywords }}" />
  <meta property="og:title" content="{{ title || siteConfigs.title }}" />
  <meta property="og:description" content="{{ description || siteConfigs.description }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ description || siteConfigs.description }}">
  <meta name="twitter:title" content="{{ title || siteConfigs.title }}">
  @if(siteConfigs.twitterUser)
  <meta name="twitter:creator" content="{{ '@' + siteConfigs.twitterUser }}" />
  <meta name="twitter:site" content="{{ '@' + siteConfigs.twitterUser }}" />
  @endif
  @if(siteConfigs.thumbnail)
  <meta name="twitter:image" content="{{ siteConfigs.thumbnail }}">
  <meta name="og:image" content="{{ siteConfigs.thumbnail }}">
  @endif
  @!section('meta')
  <title>{{ title ? `${title} | ${siteConfigs.title}` : siteConfigs.title }}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="stylesheet" href="/dist/styles.css">
</head>
<body>
  @unless(mainOnly)
    @include('partials/header')
  @endunless
  <main>
    @!section('main')
  </main>
  @unless(mainOnly)
    @include('partials/footer')
  @endunless
</body>
</html>
